*.vs
*bin/
*build/
*.idea*
cmake-build-debug
*Debug/
*Release/
*Bin/
*jvpkg
target/simulator/environments
.idea
bin/*
bin
*CMakeFiles*
*.cpb
*CMakeFiles
*jvpkg
target/test/outerloop/.idea/workspace.xml
